<?xml version="1.0"?>
<config>
    <sections>
        <loyaltyintegrator translate="label" module="bloyalLoyalty">
            <class>bloyal-section</class>
            <label>Loyalty Integrator</label>
            <header_css>bloyal-header</header_css>
            <tab>bloyal</tab>
            <sort_order>110</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <groups>
                <bloyalLoyalty translate="label">
                    <label>Loyalty General Settings</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>200</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <active translate="label">
                            <label>Enabled</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </active>
                    </fields>
                </bloyalLoyalty>
            </groups>
        </loyaltyintegrator>
    </sections>
</config>
