<?xml version="1.0"?>
<config>
	<modules>
    	<Bloyal_CatalogIntegrator>
        	<version>0.0.1</version>
		</Bloyal_CatalogIntegrator>
	</modules>
	<global>
		<helpers>
			<bloyalCatalog>
				<class>Bloyal_CatalogIntegrator_Helper</class>
			</bloyalCatalog>
		</helpers>
		<models>
        	<bloyalCatalog>
        		<class>Bloyal_CatalogIntegrator_Model</class>
        	</bloyalCatalog>
		</models>
		<resources>
			<bloyalCatalog_setup>
				<setup>
					<module>Bloyal_CatalogIntegrator</module>
				</setup>
				<connection>
                    <use>core_setup</use>
                </connection>
			</bloyalCatalog_setup>
			<bloyalCatalog_write>
                <connection>
                    <use>core_write</use>
                </connection>
			</bloyalCatalog_write>
            <bloyalCatalog_read>
                <connection>
                    <use>core_read</use>
                </connection>
			</bloyalCatalog_read>
		</resources>
	</global>
    <admin>
        <routers>
			<CatalogIntegrator>
				<use>admin</use>
				<args>
					<module>Bloyal_CatalogIntegrator</module>
					<frontName>bloyalcatalog</frontName>
				</args>
			</CatalogIntegrator>
        </routers>
    </admin>

     <frontend>
        <routers>
            <bloyalcatalog>
                <use>standard</use>
                <args>
                    <module>Bloyal_CatalogIntegrator</module>
                </args>
            </bloyalcatalog>
        </routers>
    </frontend>
	<crontab>
        <jobs>
			<bloyal_product_updater>
        		<schedule><cron_expr>*/5 * * * *</cron_expr></schedule>
                <run><model>bloyalCatalog/cron::productsUpdater</model></run>
			</bloyal_product_updater>
        </jobs>
    </crontab> 
	<defaul>
   		<bloyal>
	    	<bloyalCatalog>
	    		<active>0</active>
	    		<logs>0</logs>
    		</bloyalCatalog>
  		</bloyal>
	</defaul>
</config>
