<?xml version="1.0"?>
<config>
	<modules>
    	<Bloyal_OrderIntegrator>
        	<version>0.0.1</version>
		</Bloyal_OrderIntegrator>
	</modules>
	<admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                    	<Bloyal_OrderIntegrator before="Enterprise_SalesArchive">
                    		Bloyal_OrderIntegrator_Adminhtml
                    	</Bloyal_OrderIntegrator>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
	<global>
		<helpers>
			<bloyalOrder>
				<class>Bloyal_OrderIntegrator_Helper</class>
			</bloyalOrder>
		</helpers>
		<models>
        	<bloyalOrder>
        		<class>Bloyal_OrderIntegrator_Model</class>
        		<resourceModel>bloyalOrder_resource</resourceModel>
        	</bloyalOrder>
        	<bloyalOrder_resource>
        		<class>Bloyal_OrderIntegrator_Model_Resource</class>
        		<entities>
        			<order>
        				<table>bloyal_order</table>
       				</order>
				</entities>
			</bloyalOrder_resource>
		</models>
		<resources>
			<bloyalOrder_setup>
				<setup>
					<module>Bloyal_OrderIntegrator</module>
					<class>Bloyal_OrderIntegrator_Model_Resource_Setup</class>
				</setup>
			</bloyalOrder_setup>
		</resources>
		<events>
			<sales_order_save_after>
				<observers>
					<process_order>
						<class>Bloyal_OrderIntegrator_Model_Observer</class>
						<method>filterOrder</method>
					</process_order>
				</observers>
			</sales_order_save_after>
			<sales_order_load_after>
				<observers>
					<add_bloyal_info>
						<class>Bloyal_OrderIntegrator_Model_Observer</class>
						<method>addBloyalInfo</method>
					</add_bloyal_info>
				</observers>
			</sales_order_load_after>
			<adminhtml_widget_container_html_before>
				<observers>
					<add_bloyal_button>
						<class>Bloyal_OrderIntegrator_Model_Observer</class>
						<method>addButton</method>
					</add_bloyal_button>
				</observers>
			</adminhtml_widget_container_html_before>
		</events>
	</global>
	<!--<crontab>
        <jobs>
	        <submit_order_to_bloyal>
        		<schedule><cron_expr>*/45 5 6 3 2014</cron_expr></schedule>
                <run><model>bloyalOrder/cron::submitOrderToBloyal</model></run>
			</submit_order_to_bloyal>
			<complete_orders_from_bloyal>
	            <schedule><cron_expr>*/45 5 7 3 2014</cron_expr></schedule>
	            <run><model>bloyalOrder/cron::updateOrder</model></run>
	        </complete_orders_from_bloyal>
	        <notify_failedorders_email>
	            <schedule><cron_expr>*/45 5 8 3 2014</cron_expr></schedule>
	            <run><model>bloyalOrder/cron::sendOrdersProblemsNotification</model></run>
			</notify_failedorders_email>
        </jobs>
    </crontab>-->
	<defaul>
   		<bloyal>
	    	<bloyalOrder>
	    		<active>0</active>
	    		<logs>0</logs>
    		</bloyalOrder>
  		</bloyal>
	</defaul>
</config>
